:root{
    --primario: #A69586;
    --secundario: #736355;
    --alterno:#8C8627;
    --blanco: white;
    --negro: black;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: var(--primario);
    margin: 0;
    padding: 0
}