.grid-three-columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.grid-two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

.center-horizontal-container{
    display: flex;
    justify-content: center;
}  

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    min-height: 70rem;
}

.padding-container{
    padding: 1.5rem;
}

.medium-container{
    padding: 5rem;
}

.big-container{
    padding: 8rem;
}

.subtitle-section{
    padding: 1rem 0;
}

.el-mg{
    margin-bottom: 1rem;
}

.el-bg{
    margin-bottom: 2rem;
}

.vertical-elements{
    display: flex;
    flex-direction: column;
}

.horizontal-elemets{
    display: flex;
    flex-direction: row;
}

.text-left{
    text-align: left;
}

.btn-main{
    border-radius: .5rem;
    border: none;
    height: 3rem;
    color: var(--blanco);
    background-color: var(--alterno);
}

.btn-delete{
    border-radius: .5rem;
    border: none;
    height: 3rem;
    color: var(--blanco);
    background-color: #801111;
    cursor: pointer;
}

.card-container{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
}
.simple-card{
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--alterno);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.active{
    background-color: var(--alterno);
    border-radius: 1rem;
}